# Byte-compiled / optimized / DLL files
__pycache__/

# mypy
.mypy_cache/

# cookies
*.cookies
*.cookies.json

# api test files
apitest*

# Editors folders
.idea/

# Examples
examples/*
!examples/*.py